*{

}

h1{
    background-color: bisque;  
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 1.3em;
     
}
main {
    height:100vh;
    display: flex;
    justify-items: center;
}
#two
{
    text-align: center;
    background-color: blueviolet;
}
.four{
    background-color: blue;
    color: white;
}
#span {
    background-color: yellow;
}
#test1{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.NON{
    color:red
}
.NON:hover
{
    display: none;
}

ol{
    list-style-type: upper-roman;
    border: 1px solid black;
    border-radius: 10px;
}
ul{
    list-style-type: none;
    

}
footer{
    width: 100vh;
    height: 100px;
    background-color: blue;
}
#pip
{
    margin-top: -20px;
    margin-left: 40px;
}