*{

}

h1{
    background-color: bisque;  
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 1.3em;
     
}
main {
    height:100vh;
    display: flex;
    justify-items: center;
}
#two
{
    text-align: center;
    background-color: blueviolet;
}
.four{
    background-color: blue;
    color: white;
}
#span {
    background-color: yellow;
}
#test1{
    color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.NON{
    color:red
}
.NON:hover
{
    display: none;
}

ol{
    list-style-type: upper-roman;
    border: 1px solid black;
    border-radius: 10px;
}
ul{
    list-style-type: none;
    

}
footer{
    width: 100vh;
    height: 100px;
    background-color: blue;
}
#pip
{
    margin-top: -20px;
    margin-left: 40px;
}
.element{
background-color: blue;
width: 200px;
height: 200px;
transition: background-color 0.5s ease-out,width 1s ease-in-out;}
.my-element:active{
background-color: red;
width: 300px;
}
#anim1{
background-color: black;
width: 30vw;
color: #fff;
animation: myAnim 5s linear 1s reverse infinite;
}
@keyframes myAnim{
0% {
margin-left: 0%;
}
30%{
background-color: blue;
}
100% {
margin-left: 500px;
}
}
body{
background-color: #b6cbe8;
background-image: url(./cloud.png);
animation: cloud 10s linear infinite;
}
@keyframes cloud {
    0% {
        background-position-x: 0px;
    }
    50%{
        background-color: gray;}
    100% {
    background-position-x: 500px;
    }
}
.loader-container{
    width: 400px;
    height: 400px;
background-color: bisque;}
    .loader{
        width: 10px;
        height: 10px;
        position: relative;
        top: 50%;
        margin: auto;
        animation: loader 1s ease infinite;
      }

@keyframes loader {
    0%, 100% {
      box-shadow: -10px 15px 0 #ffffff, 10px 15px 0 rgba(0, 0, 0, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    25% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 #ffffff, 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    50% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 #ffffff, -10px 36px 0 rgba(255, 255, 255, 0.2); }
    75% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 #ffffff; } }
