.menu{
display: flex;
list-style: none;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 50px;
position: absolute;
width: 655px;
height: 19px;
left: 226px;
top: 21px;




}
li a{
    margin-left: 20px;
    color: aliceblue;
}
.asd{
display: flex;
flex-direction: row;
justify-content: center;
padding: 8px 10px;
gap: 10px;
position: absolute;
width: 155px;
height: 36px;
left: 1227px;
top: 33px;
background: #018ABE;
border-radius: 3px;
color: white;
}
 h1,h2{
    color: white;
 }   
.aad{
position: absolute;
width: 336px;
height: 59px;
top: 790px;
left: 792px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-size: 42px;
font-weight: 700;
line-height: 140%;
text-align: center;
color: aliceblue;
}
.list1{
background-image: url(./list1.png);
width: 28px;
height: 14px;
top: 845px;
left: 719px;
border-radius: 0px 50px 0px 50px;
position: absolute;

}
.list2{
background-image: url(./list2.png);
width: 28px;
height: 14px;
top: 845px;
left: 1140px;
border-radius: 0px 50px 0px 50px;
rotate:180º;

    
    position: absolute;
}